#wpwrap{
    background-color: #ddffdd;
}

.img-container{
    float: left;
    margin: 50px 20px;
}

.form-container{
    float: left;
}

.div-container{
    background-color: #c8fec8;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
}